<ion-header translucent>
  <ion-toolbar>
    <ion-title>Emotion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="canDismiss()" >Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <p>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" [(ngModel)]="register.value">
      <ion-segment-button value="1">
        <ion-img width="40" height="40" src="../../assets/crying-face-svgrepo-com.svg"></ion-img>
        <ion-label>Very sad</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-img width="40" height="40" src="../../assets/worried-face-svgrepo-com.svg"></ion-img>
        <ion-label>Sad</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-img width="40" height="40" src="../../assets/neutral-face-svgrepo-com.svg"></ion-img>
        <ion-label>Middle</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4">
        <ion-img width="40" height="40" src="../../assets/winking-face-svgrepo-com.svg"></ion-img>
        <ion-label>Happy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="5">
        <ion-img width="40" height="40" src="../../assets/partying-face-svgrepo-com.svg"></ion-img>
        <ion-label>Very Happy</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-item-divider>

    </ion-item-divider>
    <ion-item>
      <ion-textarea rows="6" cols="20" placeholder="Enter any explanation here..." [(ngModel)]="register.text"></ion-textarea>
    </ion-item>

  </p>
  <ion-item-divider>

  </ion-item-divider>
  <ion-button expand="block" (click)="save()" >Save</ion-button>
</ion-content>

