
<div id="container">
  <ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: 1em; margin-right: 1em">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list-header> History</ion-list-header>
  <ion-list >
    <ion-item *ngFor="let item of registers$ | async">
      <ion-label><ion-grid>
        <ion-row>
          <ion-col>
            <div>{{item.date | date: 'short'}}</div>
          </ion-col>
          <ion-col>
            <div>  </div>
          </ion-col>
          <ion-col *ngIf="item.value == 1">
            <img  src="../../assets/crying-face-svgrepo-com.svg"/>
          </ion-col>
          <ion-col *ngIf="item.value == 2">
            <img  src="../../assets/worried-face-svgrepo-com.svg"/>
          </ion-col>
          <ion-col *ngIf="item.value == 3">
            <img  src="../../assets/neutral-face-svgrepo-com.svg"/>
          </ion-col>
          <ion-col *ngIf="item.value == 4">
            <img  src="../../assets/winking-face-svgrepo-com.svg"/>
          </ion-col>
          <ion-col *ngIf="item.value == 5">
            <img  src="../../assets/partying-face-svgrepo-com.svg"/>
          </ion-col>
        </ion-row>
      </ion-grid></ion-label>
    </ion-item>
  </ion-list>
</div>
